<div class="following-stream">
<!-- フォロータブを選んでる時にactiveクラスを付ける -->
  <div>
    <div class="flush-button">
    <!-- アクティビティがある時にactiveクラスを付ける -->
      0件の新しいアクティビティ
    </div>
    <div class="acrivities">
      <div class="item-box track">
        <div class="vertical-close-button close">
          <i class="fa fa-angle-double-right"></i>
        </div>
        <div class="item-box-container-inner">
          <div class="action-user-icon action">
            <div class="action-icon">
              <i class="fa fa-tag"></i>
            </div>
            <a href="#" title="テスト">
              <%= image_tag("user-avatar.png", class: "user-icon", title: "テスト") %>
            </a>
          </div>
          <div class="item-box-area">
            <div class="item-box-header">
              <div class="action">
                <span class="user">
                  <a href="#">テスト</a>
                </span>
                に新しい投稿がありました
              </div>
              <div class="item-box-title">
                <h1>
                  <a href="#" title="テスト">
                    テスト
                  </a>
                </h1>
                <ul class="item-box_tag-list list-unstyled">
                  <li>
                    <a href="#">テスト</a>
                  </li>
                  <li>
                    <a href="#">テスト</a>
                  </li>
                  <li>
                    <a href="#">テスト</a>
                  </li>
                </ul>
              </div>
              <div class="item-status-box">
                <ul class="unstyled">
                  <li>
                    <i class="fa fa-like"></i>
                    0
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-comment-o"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="item-body-wrapper">
              <div id="item-34df81643130153e08aa" class="item-body markdown-content bordered">
                ここに記事が入ります
              </div>
            </div>
          </div>
          <div class="loading"></div>
        </div>
        <fieldset class="toggle-button-field">
          <legend class="toggle-button">
            <span class="expand">
              <i class="fa fa-angle-double-down"></i>
            </span>
            <span class="close">
              <i class="fa fa-angle-double-up"></i>
            </span>
          </legend>
        </fieldset>
      </div>
      <!-- 20件表示 -->
    </div>
    <div class="tail">
      <div class="more-button btn btn-default btn-block" tabindex="0">もっと見る</div>
    </div>
  </div>
</div>
<div class="public-stream">
  <div>
    <div class="circle-loading">
      <p>読み込み中</p>
      <div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>
