<div class="landing-other-services hidden-xs">
  <div class="container clearfix">
    <div class="row clearfix">
      <div class="col-sm-8 col-sm-offset-2">
        <a class="landing-other-services_kobito clearfix" href="#">
          <%= image_tag("landing-kobito.png", class: "landing-other-services_service-logo") %>
          <div class="landing-other-services_explanation">
            <div class="landing-other-services_service-name">Kobito</div>
            <div class="landing-other-services_copy">プログラミングのメモやスニペットの記録に最適なMacアプリ</div>
          </div>
        </a>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-sm-8 col-sm-offset-2">
        <a class="landing-other-services_team clearfix" href="#">
          <%= image_tag("landing-team.png", class: "landing-other-services_service-logo") %>
          <div class="landing-other-services_explanation">
            <div class="landing-other-services_service-name">Qiita:Team</div>
            <div class="landing-other-services_copy">みんなが手軽に書ける情報共有ツール</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
