<footer class="footer">
  <div class="footer_inner clearfix">
    <div class="footer_container clearfix">
      <ul class="footer__links_left">
        <li class="footer_link">
          <a class="footer_copyright" href="#">© 2017 Increments Inc.</a>
        </li>
        <li class="footer_link">
          <a href="#">利用規約</a>
        </li>
        <li class="footer_link">
          <a href="#">プライバシー</a>
        </li>
        <li class="footer_link">
          <a href="#">ヘルプ</a>
        </li>
        <li class="footer_link">
          <a href="#">お問い合わせ</a>
        </li>
      </ul>
      <ul class="footer__links_right">
        <li class="footer_link">
          <a href="#">Qiitaとは</a>
        </li>
        <li class="footer_link">
          <a href="#">ブログ</a>
        </li>
        <li class="footer_link">
          <a href="#">API</a>
        </li>
        <li class="footer_link">
          <a href="#">Team</a>
        </li>
        <li class="footer_link">
          <a href="#">Kobito</a>
        </li>
        <li class="footer_link">
          <a href="#">Career</a>
        </li>
        <li class="footer_link">
          <a class="js-public-form-feedback-link" data-target=".js-feedback-form" data-toggle="modal" href>
            <i class="fa fa-heart"></i>ご意見<i class="fa fa-caret-down"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
