<div class="col-sm-3 settings-navigation">
  <div class="settings_menu">
    <span class="settings_menu-heading">共通</span>
    <a class="settings_menu-item" href="#">
      <i class="fa fa-fw fa-user"></i>
      アカウント
    </a>
    <a class="settings_menu-item" href="#">
      <i class="fa fa-fw fa-key"></i>
      パスワード
    </a>
    <a class="settings_menu-item" href="#">
      <i class="fa fa-fw fa-laptop"></i>
      セキュリティ
    </a>
    <a class="settings_menu-item" href="#">
      <i class="fa fa-fw fa-mobile"></i>
      二段階認証
    </a>
    <a class="settings_menu-item" href="#">
      <i class="fa fa-fw fa-cubes"></i>
      アプリケーション
    </a>
  </div>
  <div class="settings_menu">
    <span class="settings_menu-heading">Qiita</span>
    <a class="settings_menu-item settings_menu-item-selected" href="#">
      <i class="fa fa-fw fa-users"></i>
      プロフィール
    </a>
    <a class="settings_menu-item" href="#">
      <i class="fa fa-fw fa-bell"></i>
      メールアドレスと通知
    </a>
    <a class="settings_menu-item" href="#">
      <i class="fa fa-fw fa-bar-chart"></i>
      Google Analytics
    </a>
  </div>
</div>
